.title-group-tour {
  font-weight: bold;
  font-family: Avenir;
  font-size: 34px;
}

.link-card-trip {
  text-decoration: none;
  .card-trip {
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: 2;
    padding: 15px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    transition: 1s;
    background-color: #ffffff;
    .label-card {
      margin-top: 10px;
      .label-card-title {
        margin-bottom: 0px;
        font-weight: 800;
        color: #3490dc;
        font-family: Avenir;
        font-size: 18px;
      }
      .label-country-price {
        display: flex;
        justify-content: space-between;
        .label-country {
          font-family: Avenir;
          color: orange;
          font-style: italic;
        }
        .label-price {
          color: #3490dc;
          font-weight: 600;
          font-size: 18px;
        }
      }
    }
    .card-img-trip {
      width: 100%;
    }
  }
  .card-trip:hover {
    transform: scale(1.2);
    z-index: 2;
    box-shadow: 2px 2px 2px #000;
  }
}

@media only screen and (max-width: 991px) {
  .card-trip {
    .card-img-trip {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 576px) {
  .card-trip {
    .card-img-trip {
      width: 60vw;
    }
  }
}
