body {
  margin: 0 !important;
  background-color: #f1f1f1;
  padding: 0 !important;
}

.App {
  text-align: center;
}

.background-nav {
  align-items: center !important;
  background-image: url(./img//Header.png);
  height: 72.5px;
  box-shadow: 5;
}
