body {
  margin: 0 !important;
  background-color: #f1f1f1;
  padding: 0 !important;
}

.App {
  text-align: center;
}

.icon-dw {
  position: absolute;
  padding-left: 50px;
  margin-top: 20px;
}

.background-nav {
  border: solid black 2px;
  background-image: url(./img//Header.png);
  height: 75px;
}
