.main-payment {
  .btn-pay {
    background-color: orange;
    float: right;
    padding: 10px 70px;
    border-radius: 5px;
    font-weight: 800;
    font-family: Avenir;
    margin: -60px 265px;
    color: aliceblue;
    margin-right: 180px;
  }
}

.notifWarning {
  color: orange !important;
  position: relative;
  top: 70px;
  width: 112px;
  height: 24px;
  border-radius: 2px;
  background: cornsilk;
  border: solid black 1px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
}

.notifSuccess {
  color: green !important;
  position: relative;
  top: 70px;
  width: 112px;
  height: 24px;
  border-radius: 5px !important;
  background: cornsilk;
  border: solid black 1px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
}

.notifDanger {
  color: maroon !important;
  position: relative;
  top: 70px;
  width: 112px;
  height: 24px;
  background: cornsilk;
  border: solid black 1px;
  border-radius: 5px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 991px) {
  .main-payment {
    .btn-pay {
      background-color: orange;
      float: right;
      padding: 10px 70px;
      border-radius: 5px;
      font-weight: 800;
      font-family: Avenir;
      margin: -30px 50px;
      color: aliceblue;
    }
  }
}
