.main-payment {
  padding: 10px 100px;
  height: 80vh;
  .container-payment {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-around;
    margin-top: 20px;
  }
  .btn-pay {
    background-color: orange;
    width: 15%;
    float: right !important;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 800;
    font-family: Avenir;
    margin-top: -25px;
    color: #fff;
  }
}

.notifWarning {
  color: orange !important;
  position: relative;
  top: 70px;
  width: 112px;
  height: 24px;
  border-radius: 2px;
  background: cornsilk;
  border: solid black 1px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
}

.notifSuccess {
  color: green !important;
  position: relative;
  top: 70px;
  width: 112px;
  height: 24px;
  border-radius: 5px !important;
  background: cornsilk;
  border: solid black 1px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
}

.notifDanger {
  color: maroon !important;
  position: relative;
  top: 70px;
  width: 112px;
  height: 24px;
  background: cornsilk;
  border: solid black 1px;
  border-radius: 5px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 991px) {
  .main-payment {
    .btn-pay {
      background-color: orange;
      float: right;
      padding: 10px 70px;
      border-radius: 5px;
      font-weight: 800;
      font-family: Avenir;
      margin: -30px 50px;
      color: aliceblue;
    }
  }
}
