.navbar {
  background-color: #3490dc;
}

.nav-admin {
  width: fit-content;
  margin-left: 35vw;
  .nav-link {
    text-decoration: none;
  }
}

.toggle-nav {
  border: solid whitesmoke 1px !important;
}

.text-nav-admin {
  font-size: 18px;
  font-family: Avenir;
  font-weight: 500;
  color: black !important;
}
.text-nav-admin:hover {
  font-size: 19px;
  font-family: Avenir;
  font-weight: 500;
  color: orange;
}
.icon-nav-admin {
  margin-right: 8px;
}

@media only screen and (max-width: 991px) {
  .nav-admin {
    margin-left: 0px !important;
  }
}
