#chat-messages {
  min-height: 80%;
  .chat-from-me {
    position: relative;
    color: var(--color-primary);
    background-color: skyblue;
    border-radius: 10px !important;
    margin-right: 20px !important;
    &:before {
      content: "";
      position: absolute;
      background-color: orange;
      width: 15px;
      height: 15px;
      bottom: 0;
      right: -4px;
      border-top-right-radius: 25px;
    }
  }

  .chat-from-other {
    position: relative;
    color: rgb(77, 77, 77);
    background-color: rgb(132, 223, 132);
    border-radius: 10px !important;
    margin-left: 20px !important;
    &:before {
      content: "";
      position: absolute;
      background-color: gold;
      width: 15px;
      height: 15px;
      bottom: 0;
      left: -4px;
      border-top-left-radius: 25px;
    }
  }

  .block-chat {
    padding: 10px 12px;
    margin: 10px 0;
    border-radius: var(--border-smooth);
  }
}

.wrapper-input-message {
  position: sticky;
  bottom: 0;
  margin-top: 20px;
  padding: 20px 18px;
  .input-message {
    border-radius: 10px !important;
    color: rgb(77, 77, 77);
    padding: 10px 18px;
    width: 100%;
    box-shadow: 0 0 40px #c3c5c9;
    border: solid black 1px;
  }
}
