.btn-login-google {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 1px;
  border-radius: 5px;
}

// .icon-google {
//   width: 1.8em;
//   position: relative;
//   top: 680px !important;
//   left: 138px !important;
// }
// .btn-login-google span {
//   font-weight: bold;
//   padding-left: 10px;
// }
