.profile-container {
  background-color: #f1f1f1;
  padding-bottom: 150px;
  height: auto !important;
}

.profile-container .img-1 {
  width: 30px;
  height: 30px;
}

.area-avatar {
  width: 35.2%;
}

.title-history-trip {
  font-family: Avenir;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
  display: flex;
  align-items: center;
  margin-left: 120px;
  margin-top: 120px;
}
.imageProfile {
  height: 250px;
  width: 250px;
}

.tripCard {
  left: 500px;
}

p {
  margin-bottom: 0;
}

small {
  color: #a8a8a8;
}

.input-edit {
  margin-left: 20px;
}

.data-container {
  margin-top: 200px;
  background-color: #ffffff;
  width: 900px;
  height: 450px;
}

.editPhoto {
  margin-top: 10px;
  background-color: orange;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.profileSize {
  width: 120px;
  height: 80px;
}

.btn-edit {
  margin-left: 300px !important;
  position: relative;
  top: 180px;
  background-color: orange !important;
  padding: 10px 60px !important;
  font-weight: bold !important;
}

.column-edit {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 700px;
  font-weight: bold;
}

.btnChange {
  background-color: orange !important;
  width: 100%;
  cursor: pointer;
}

.preview-image {
  background-image: url(../../img/ProfileDefault.png);
}

.btn-filter-waiting-approve {
  border-radius: 10px;
  color: #ffffff;
  font-weight: 900;
  font-family: Avenir;
  background: orange;
}

.btn-filter-approve {
  border-radius: 10px;
  color: #ffffff;
  font-weight: 900;
  font-family: Avenir;
  background: green;
}

.btn-filter-cancel {
  border-radius: 10px;
  color: #ffffff;
  font-weight: 900;
  font-family: Avenir;
  background: red;
}

.no-data-payment {
  text-align: center;
  position: relative;
  bottom: 55px;
  font-weight: 900;
  font-family: Avenir;
}

.container-loading-avatar {
  height: 350px;
  background-color: #f1f1f1;
  width: 100%;
}
