.carousel-price-text {
  color: yellow;
  font-size: 34px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  width: 400px;
  margin-left: 325px;
  border-radius: 20px;
  border: solid 1px #ffffff;
}

/* Input */
.input-group {
  margin-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}
.input-group-text {
  background-color: #ffaf00;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 600;
}

@media only screen and (max-width: 991px) {
  .header-image {
    height: 205vh !important;
  }
  .header-image h1 {
    padding-left: 50px;
    position: relative;
    bottom: 100px;
    margin-top: 125px;
    font-size: 3.8em !important;
  }
  .header-image h2 {
    position: relative;
    bottom: 100px;
    padding-left: 50px;
    font-size: 18px !important;
  }
  .header-image label {
    position: relative;
    bottom: 100px;
    padding-left: 50px;
    font-size: 12px !important;
  }
  .input-group {
    margin-top: -30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .header-image {
    height: 205vh !important;
  }
  .header-image h1 {
    padding-left: 30px;
    position: relative;
    bottom: 110px;
    font-size: 28px !important;
  }
  .header-image h2 {
    position: relative;
    bottom: 110px;
    padding-left: 30px;
    font-size: 18px !important;
  }
  .header-image label {
    position: relative;
    bottom: 118px;
    padding-left: 30px;
    font-size: 12px !important;
  }
  .input-group {
    margin-top: -30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
