.price-carousel {
  background-color: #ffffff;
  border-radius: 10px;
  width: 20vw;
  font-size: 2.1vw;
  margin-left: 380px !important;
  .carousel-price-text {
    color: orangered;
    font-weight: bold;
    font-style: italic;
    border-radius: 20px;
    // padding-right: 70px;
    font-family: Avenir;
    width: 50vw !important;
    .carousel-quota-text {
      text-align: center !important;
      font-size: 16px;
      align-items: center;
      font-family: Avenir;
      color: rgb(230, 150, 2);
    }
  }
}

/* Input */
.input-group {
  margin-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  .input-group-text {
    background-color: #ffaf00;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 600;
  }
}

@media only screen and (max-width: 991px) {
  .price-carousel {
    margin-left: 120px !important;
    width: 35vw;
    font-size: 4vw;
  }
  .header-image {
    height: 205vh !important;
  }
  .header-image h1 {
    padding-left: 50px;
    position: relative;
    bottom: 100px;
    margin-top: 125px;
    font-size: 3.8em !important;
  }
  .header-image h2 {
    position: relative;
    bottom: 100px;
    padding-left: 50px;
    font-size: 18px !important;
  }
  .header-image label {
    position: relative;
    bottom: 100px;
    padding-left: 50px;
    font-size: 12px !important;
  }
  .input-group {
    margin-top: -30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .price-carousel {
    margin-left: 80px !important;
    width: 35vw;
    font-size: 5vw;
  }
  .header-image {
    height: 205vh !important;
  }
  .header-image h1 {
    padding-left: 30px;
    position: relative;
    bottom: 110px;
    font-size: 28px !important;
  }
  .header-image h2 {
    position: relative;
    bottom: 110px;
    padding-left: 30px;
    font-size: 18px !important;
  }
  .header-image label {
    position: relative;
    bottom: 118px;
    padding-left: 30px;
    font-size: 12px !important;
  }
  .input-group {
    margin-top: -30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
