p {
  margin-bottom: 0;
}
.sub-info {
  color: #a8a8a8;
  font-style: italic;
}

.cardProfile {
  padding: 30px;
  background-color: white;
  margin: 100px 250px;
  border-radius: 8px;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-evenly;
  .card-body {
    display: flex;
    justify-content: space-between;
    .form-edit-profile {
      .title-edit {
        font-family: Avenir;
        font-weight: bold;
        color: rgb(72, 190, 236);
      }
      .form-group {
        width: 38vw;
        margin-bottom: 20px;
        label {
          font-family: Avenir;
          font-weight: bold;
          font-style: italic;
          color: #a8a8a8;
        }
      }
    }
    .preview-avatar {
      height: 48vh;
      width: 35%;
    }
    // IMAGE AVATAR
    .card-img-top {
      height: 55vh;
      width: 35%;
      margin-right: 50px;
      border-radius: 5px;
    }
  }

  // AREA BUTTON EDIT
  .area-btn-edit {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 66px;
    padding-bottom: 20px;
    align-items: center;
    .change-avatar-edit {
      padding: 10px;
      width: 21vw;
      margin-right: -50px;
      background-color: orange !important;
      cursor: pointer;
      color: white;
      font-weight: bold;
      font-family: Avenir;
      border-radius: 5px;
      text-align: center;
      align-items: center;
      font-size: 20px;
    }
    .btn-save {
      cursor: pointer;
      background-color: rgb(72, 190, 236);
      color: white;
      font-weight: bold;
      height: 45px;
      margin-top: 16px;
    }
    .btn-input-avatar {
      border-radius: 5px;
      width: 100%;
      .btnChange {
        padding: 10px;
        margin-left: 20px;
        float: right;
        width: 21vw;
        background-color: orange !important;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .cardProfile {
    padding: 20px;
    margin: 50px 50px;
    border-radius: 8px;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between;
    .card-body {
      margin-right: 0;
    }
    .area-btn-edit {
      flex-direction: row;
      .btn-input-avatar {
        .btnChange {
          width: 28vw;
        }
      }
      .change-avatar-edit {
        width: 38%;
      }
    }
    .card-img-top {
      height: 60vh;
      width: 40%;
    }
  }
  .preview-avatar {
    border-radius: 5px;
    margin-top: 58px;
  }
  .form-edit-profile {
    .form-group {
      flex-direction: column;
      display: flex;
    }
    .form-group label {
      width: fit-content;
    }
  }
}
@media only screen and (max-width: 576px) {
  .card-img-top {
    height: 45vh;
    width: 45%;
  }
}
