.container-navbar-user {
  display: flex;
  flex-direction: row;
  opacity: 100 !important;
  padding-left: 40px;
}

.nav-item-user2-admin {
  position: relative;
  bottom: 80px;
}
.nav-item-user3-admin {
  position: relative;
  bottom: 80px;
  margin-right: 100px;
}

.navbar-admin {
  background-image: url(../../../img//Header.png) !important;
  width: 100% !important;
  height: 65px;
}

.toggle-admin {
  background-color: white;
  margin-right: 20px;
  position: relative;
  bottom: 60px;
}

.desc {
  padding: 15px;
  text-align: center;
}

.rounded-circle {
  background-image: url(../../../img/elips.png);
  width: 50px;
  height: 50px;
}

.po-hover {
  cursor: pointer;
}

.iconTrans {
  width: 30px;
  height: 30px;
}

/* Tablet Device */
@media only screen and (max-width: 991px) {
  .nav-item-user2 {
    margin-top: 50px;
  }
  .nav-item-user3 {
    margin-top: 100px !important;
  }
  .nav-item-user4 {
    margin-top: 150px !important;
  }
  .nav-item-user2-admin {
    position: relative;
    bottom: 50px;
    color: black !important;
    margin-right: 20px;
  }
  .nav-item-user3-admin {
    color: black !important;
    margin-right: 20px;
    position: relative;
    top: 0px;
  }
  .nav-item {
    margin-left: 0px;
  }
  .nav-item-admin {
    margin-left: 0px;
  }
}

/* Mobile Device */
@media only screen and (max-width: 576px) {
  .nav-item-user1 {
    margin-top: 0px;
    margin-right: 330px;
  }
  .nav-item-user2 {
    margin-top: 5px;
    margin-right: 220px;
  }
  .nav-item-user3 {
    position: relative;
    bottom: 95px;
    margin-bottom: 100px !important;
    margin-right: 100px;
  }
  .nav-item-user4 {
    position: relative;
    bottom: 147px;
  }
}
